<div class="sk-chase">
    <div class="sk-chase-dot before:bg-primary-thin dark:before:bg-primary-demon-dark"></div>
    <div class="sk-chase-dot before:bg-primary-thin dark:before:bg-primary-demon-dark"></div>
    <div class="sk-chase-dot before:bg-primary-thin dark:before:bg-primary-demon-dark"></div>
    <div class="sk-chase-dot before:bg-primary-thin dark:before:bg-primary-demon-dark"></div>
    <div class="sk-chase-dot before:bg-primary-thin dark:before:bg-primary-demon-dark"></div>
    <div class="sk-chase-dot before:bg-primary-thin dark:before:bg-primary-demon-dark"></div>
</div>