
<div class="bg-gray-100 dark:bg-secondary-demon-dark p-3 rounded-lg shadow dark:shadow-md shadow-gray-400 dark:shadow-zinc-700 
            xl:col-start-1 xl:col-end-2 xl:row-start-1 xl:row-end-3">
    <div id="barHighchart" ></div>
</div>

<div class="bg-gray-100 dark:bg-secondary-demon-dark p-3 rounded-lg shadow dark:shadow-md shadow-gray-400 dark:shadow-zinc-700 
            xl:col-start-3 xl:col-end-4 xl:row-start-2 xl:row-end-4">
    <div id="horizontalBarHighchart"></div>
</div>



<div class="bg-gray-100 dark:bg-secondary-demon-dark p-3 rounded-lg shadow dark:shadow-md shadow-gray-400 dark:shadow-zinc-700 
    sm:col-start-1 sm:col-end-3            
    xl:col-start-2 xl:col-end-3 xl:row-start-1 xl:row-end-3">
    <div id="areaLineHighchart"></div>
</div>


<div class="bg-gray-100 dark:bg-secondary-demon-dark p-3 rounded-lg shadow dark:shadow-md shadow-gray-400 dark:shadow-zinc-700 flex flex-col sm:flex-row items-center justify-center 
    sm:col-start-1 sm:col-end-3
    xl:col-start-1 xl:col-end-3 xl:row-start-3 xl:row-end-4">
    <div class="w-full sm:w-1/2">
        <div id="fisrtDonutHighchart" class="w-full"></div>
    </div>
    <div class="w-full sm:w-1/2">
        <div id="secondDonutHighchart" class="w-full"></div>
    </div>
</div>    


<div class="bg-gray-100 dark:bg-secondary-demon-dark p-3 rounded-lg shadow dark:shadow-md shadow-gray-400 dark:shadow-zinc-700 
            xl:col-start-3 xl:col-end-4 xl:row-start-1 xl:row-end-2">
    <div id="pieHighchart"></div>
</div>
