
<div class="bg-gray-100 dark:bg-secondary-demon-dark p-3 rounded-lg shadow dark:shadow-md shadow-gray-400 
            dark:shadow-zinc-700 flex items-center justify-center
            xl:col-start-1 xl:col-end-2">
    <canvas id="barChart"></canvas>
</div>

<div class="bg-gray-100 dark:bg-secondary-demon-dark p-3 rounded-lg shadow dark:shadow-md shadow-gray-400 
            dark:shadow-zinc-700 flex items-center justify-center">
    <canvas id="pieChart"></canvas>
</div>

<div class="bg-gray-100 dark:bg-secondary-demon-dark p-3 rounded-lg shadow dark:shadow-md shadow-gray-400 
                dark:shadow-zinc-700 flex items-center justify-center 
                xl:col-start-2 xl:col-end-3 xl:row-start-2 xl:row-end-3">
    <canvas id="lineChart"></canvas>
</div>

<div class="bg-gray-100 dark:bg-secondary-demon-dark p-3 rounded-lg shadow dark:shadow-md shadow-gray-400 
                dark:shadow-zinc-700 flex items-center justify-center 
                sm:h-80 xl:h-auto
                xl:col-start-1 xl:col-end-2 xl:row-start-2 xl:row-end-4">
    <canvas id="radarChart"></canvas>
</div>

<div class="bg-gray-100 dark:bg-secondary-demon-dark p-3 rounded-lg shadow dark:shadow-md shadow-gray-400 
            dark:shadow-zinc-700 flex items-center justify-center 
            xl:col-start-3 xl:col-end-4 xl:row-start-2 xl:row-end-3">
    <canvas id="bubbleChart"></canvas>
</div>


<div class="bg-gray-100 dark:bg-secondary-demon-dark p-3 rounded-lg shadow dark:shadow-md shadow-gray-400 
            dark:shadow-zinc-700 flex items-center justify-center 
            sm:h-80 xl:h-auto
            sm:col-start-2 sm:col-end-3
            xl:col-start-3 xl:col-end-4">
    <canvas id="barVerticalChart"></canvas>
</div>


<div class="bg-gray-100 dark:bg-secondary-demon-dark p-3 rounded-lg shadow dark:shadow-md shadow-gray-400 
            dark:shadow-zinc-700 flex flex-col sm:flex-row flex-wrap items-center justify-center 
            sm:col-start-1 sm:col-end-3
            xl:col-start-2 xl:col-end-5 xl:row-start-3 xl:row-end-4">
    <div class="sm:w-1/4">
        <canvas id="douChartFirst"></canvas>
    </div>
    <div class="sm:w-1/4">
        <canvas id="douChartSecond"></canvas>
    </div>
    <div class="sm:w-1/4">
        <canvas id="douChartThird"></canvas>
    </div>
    <div class="sm:w-1/4">
        <canvas id="douChartFourth"></canvas>
    </div>
</div>